[Unit]
Description=Frp Client Service
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/opt/frp/frpc -c /opt/frp/frpc.toml
ExecReload=/opt/frp/frpc reload -c /opt/frp/frpc.toml

[Install]
WantedBy=multi-user.target